<h1>Editing Book</h1>
<%= form_for(@book) do |book| %>
	<h4>title</h4>
	<%= book.text_field :title %>

	<h4>body</h4>
	<%= book.text_area :body %>

	<%= book.submit "Update Book" %>
	<%= link_to "Show", book_path(@book) %>
	<%= link_to "Back", books_path %>
<% end %>